/build/
/autom4te.cache/
/config/
/m4/ltoptions.m4
/m4/ltversion.m4
/m4/libtool.m4
/m4/ltsugar.m4
/m4/lt~obsolete.m4
/Makefile.in
/configure
/aclocal.m4
/nbproject/
/config.log
/Makefile
/libtool
/config.status
/.deps/
/conf*.dir/
/pc/uiohook.pc
/include/config.h
/include/stamp-h1
/include/config.h.in~
/.libs/
/include/config.h.in
/src/windows/.deps/
/src/windows/.dirstamp
/src/.dirstamp
/src/.deps/
/.DS_Store
/._.DS_Store
/bin/
/src/x11/.dirstamp
/test/.dirstamp
/demohook
/demopost
/test/.deps/
/test/x11/.dirstamp
/test/x11/.deps/
/testhook
/src/x11/.deps/.dirstamp
/src/x11/.deps/
/testhook.exe